.background-purple {
    background-color: #7F4A88;
    color: white;
  }

.register {
    font-size: 15px!important;
    
}

.background-purple1 {
  background-color: #7F4A88;
  color: white;
}
.background-purple1:hover {
  background-color: #62256d;
  color: white;
}