.background-purple {
    /* background-color: #7F4A88; */
    color: #7F4A88;
  }

  .background-purple1 {
    background-color: #7F4A88;
    color: white;
}
.background-purple1:hover {
    background-color: #62256d;
    color: white;
}