.clip-diagonal {
  /* Ajustando a linha diagonal mais à frente */
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 25% 100%);
}
.background-purple {
  background-color: #7F4A88;
}

.pointer{
  cursor: pointer;
}