
<div class="flex justify-center pt-10">
    <img src="/assets/logo2.png" alt="">
    
</div>

<h1 class="flex justify-center login">Entrar na Conta</h1>

<div class="bg-white shadow-md rounded-lg max-w-4xl mx-auto p-8">
    <!-- Formulário de Atualização -->
    <form class="space-y-4">
      

      <!-- Campo Email -->
      <div class="flex items-center">
        <label for="email" class="w-40 text-gray-700 font-semibold">Email:</label>
        <div class="flex-grow">
          <input
            type="email"
            id="email"
            placeholder="Digite seu email"
            class="input input-bordered w-full bg-gray-100"
          />
        </div>
      </div>

      <!-- Campo Senha -->
      <div class="flex items-center">
        <label for="password" class="w-40 text-gray-700 font-semibold">Password:</label>
        <div class="flex-grow">
          <input
            type="password"
            id="password"
            placeholder="Digite sua senha"
            class="input input-bordered w-full  bg-gray-100"
          />
        </div>
      </div>

      <!-- Botão de Atualizar -->
      <div class="flex justify-center mt-6">
        <button class="btn background-purple text-white px-8">Entrar</button>
      </div>
    </form>
    <h5 class="flex justify-center register pt-4">Ainda não tem conta? Faça o<a href="/register"> &#160;registo</a></h5>
  </div>
