<div class="login-container max-w-sm mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-semibold text-center mb-6">Login</h2>
    
    <form (ngSubmit)="login()" class="space-y-4">
      <div class="flex flex-col">
        <label for="username" class="font-medium text-gray-700">Username</label>
        <input 
          type="text" 
          id="username" 
          [(ngModel)]="username" 
          name="username" 
          required 
          class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      
      <div class="flex flex-col">
        <label for="password" class="font-medium text-gray-700">Password</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="password" 
          name="password" 
          required 
          class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
      </div>
      
      <div *ngIf="errorMessage" class="text-red-500 text-sm">
        {{ errorMessage }}
      </div>
      
      <button 
        type="submit" 
        class="w-full py-2 mt-4 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
        Login
      </button>
    </form>
    <h5 class="flex justify-center register pt-4">Ainda não tem conta? Faça o<a href="/register"> &#160;registo</a></h5>
  </div>
  