.background-purple {
    background-color: #7F4A88;
    color: white;
  }

  .login {
    color: #7F4A88;
    font-size: 20px;
}

.background-purple1 {
  background-color: #7F4A88;
  color: white;
}
.background-purple1:hover {
  background-color: #62256d;
  color: white;
}