<app-header></app-header>

<!-- Layout com duas colunas -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 bg-gray-50">
  
  <!-- Coluna para a Lista de Ações -->
  <section class="bg-white rounded-lg p-6 shadow-md border border-gray-300">
    <h2 class="text-lg font-semibold mb-4 text-gray-700 flex items-center space-x-2">
      <i class="fas fa-list-alt text-blue-500"></i>
      <span>Ações Disponíveis</span>
    </h2>
    <div class="space-y-4">
      <div
        *ngFor="let stock of filteredStocks"
        class="flex justify-between items-center bg-gray-100 p-4 rounded-lg border border-gray-200 shadow-sm"
      >
        <!-- Informações da Ação -->
        <div class="flex items-center space-x-3">
          <span class="bg-blue-100 text-blue-500 rounded-full p-2">
            <i class="fas fa-piggy-bank"></i>
          </span>
          <div>
            <div class="text-lg font-bold text-gray-700">{{ stock.name }}</div>
            <div class="text-sm text-gray-500">{{ stock.symbol }}</div>
          </div>
        </div>

        <!-- Preço e Variação -->
        <div class="text-right">
          <div class="text-lg font-bold text-gray-800">${{ stock.price }}</div>
          <div
            [ngClass]="{
              'text-green-600': stock.change > 0,
              'text-red-600': stock.change < 0
            }"
            class="text-sm font-semibold"
          >
            {{ stock.change }}%
          </div>
        </div>

        <!-- Botão de Compra -->
        <button
          class="background-purple1 hover:bg-blue-600 text-white py-2 px-4 rounded-md shadow-md"
          (click)="toggleBuySection(stock)"
        >
          Comprar
        </button>
      </div>
    </div>
  </section>

  <!-- Coluna para o Gráfico -->
  <section class="bg-white rounded-lg p-6 shadow-md border border-gray-300">
    <app-graphic></app-graphic>
  </section>

</div>

<app-rodape-acoes class=""></app-rodape-acoes>
