<app-header></app-header>

<!-- Layout com duas colunas fixando a altura -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 bg-gray-50 h-screen">
  <!-- Coluna para a Lista de Ações -->
  <section class="bg-white rounded-lg p-6 shadow-md border border-gray-300 overflow-auto h-full">
    <h2 class="text-lg font-semibold mb-4 text-gray-700 flex items-center space-x-2">
      <i class="fas fa-list-alt purple1"></i>
      <span>Ações Disponíveis</span>
    </h2>
    <div class="space-y-4">
      <div *ngFor="let stock of stocks" class="flex flex-col bg-white p-4 rounded-lg shadow-sm border border-gray-200">
        <!-- Informações da Ação -->
        <div class="flex items-center space-x-3">
          <span class="purple text-blue-500 rounded-full p-2">
            <i class="fas fa-piggy-bank"></i>
          </span>
          <div>
            <div class="text-lg font-bold text-gray-700">{{ stock.name }}</div>
            <div class="text-sm text-gray-500">{{ stock.symbol }}</div>
          </div>
        </div>

        <!-- Preço e Variação -->
        <div class="text-right">
          <div class="text-lg font-bold text-gray-800">${{ stock.price }}</div>
          <div [ngClass]="{
              'text-green-600': stock.change > 0,
              'text-red-600': stock.change < 0
            }" class="text-sm font-semibold">
            <!-- {{ stock.change }}% -->
          </div>
        </div>

        <!-- Botão de Compra -->
        <button class="background-purple1 hover:bg-blue-600 text-white py-2 px-4 rounded-md shadow-md w-24 ml-auto"
          (click)="toggleBuySection(stock)">
          Comprar
        </button>
        <div *ngIf="selectedStock === stock" class="mt-4 p-4 bg-gray-100 rounded-lg border border-gray-300">
          <label class="block text-sm font-medium text-gray-700">Digite o montante:</label>
          <div class="mt-2 flex items-center space-x-2">
            <input min="0" type="number" [(ngModel)]="buyAmount"
              class="block w-full p-2 border bg-gray-50 rounded-md focus:ring-purple-500 focus:border-purple-500"
              placeholder="Ex: 100" />
            <button class="background-purple1 hover:bg-purple-600 text-white py-2 px-4 rounded-md"
              (click)="confirmPurchase(stock)">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Coluna para o Gráfico -->
  <section class="bg-white rounded-lg p-6 shadow-md border border-gray-300 h-auto">
    <app-graphic></app-graphic>
  </section>
</div>

<!-- Rodapé -->
<app-rodape-acoes></app-rodape-acoes>
