<app-header></app-header>
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <!-- Lista de Históricos de Preço -->
  <section class="bg-gray-50 rounded-lg p-6 shadow-md border border-gray-200">
    <h2 class="text-lg font-semibold mb-4 text-gray-700">Históricos de Transações Feitas</h2>
    <div class="space-y-4">
      <div
        *ngFor="let history of stockHistories; let i = index"
        class="flex justify-between items-center bg-white p-4 rounded-lg shadow-sm border border-gray-200 cursor-pointer transition-transform duration-300 ease-in-out"
        [ngClass]="{'active': stockDetails?.id === history.id}"
        (click)="getStockDetails(history.id)"
      >
        <div class="flex items-center gap-4">
          <div class="bg-blue-200 text-blue-700 rounded-full p-3">
            🏷️
          </div>
          <div>
            <div class="text-lg font-bold text-gray-700">{{ history.asset.name }}</div>
            <div class="text-sm text-gray-500">Ticker: {{ history.asset.symbol }}</div>
          </div>
        </div>
        <div class="flex flex-col items-end">
          <div class="text-lg font-bold text-gray-700">{{ history.price | currency }}</div>
          <div class="text-sm text-gray-500">
            {{ history.timestamp | date }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Detalhes do Histórico -->
  <section class="bg-gray-50 rounded-lg p-6 shadow-md border border-gray-200">
    <h2 class="text-lg font-semibold mb-4 text-gray-700">Detalhes do Histórico</h2>
    <div class="space-y-6" *ngIf="stockDetails">
      <div class="space-y-4">
        
        <div class="flex justify-between items-center">
          <span class="text-gray-600 font-medium">Ativo:</span>
          <span class="text-gray-800 font-semibold">{{ stockDetails.asset.name }}</span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-gray-600 font-medium">Ticker:</span>
          <span class="text-gray-800 font-semibold">{{ stockDetails.asset.symbol }}</span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-gray-600 font-medium">Tipo de Ativo:</span>
          <span class="text-gray-800 font-semibold">{{ stockDetails.assetTypeName }}</span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-gray-600 font-medium">Preço:</span>
          <span class="text-gray-800 font-semibold">{{ stockDetails.price | currency }} </span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-gray-600 font-medium">Data e Hora:</span>
          <span class="text-gray-800 font-semibold">{{ stockDetails.timestamp | date: 'short' }}</span>
        </div>
        <div class="flex justify-between items-center">
          <span class="text-gray-600 font-medium">Ganhos ou Perdas</span>
          <span class="text-gray-800 font-semibold"> *REVER CÁLCULOS {{ stockDetails.price | currency }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="!stockDetails" class="text-gray-500 text-center">
      Selecione um histórico para ver os detalhes.
    </div>
  </section>
</div>
